* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial,
               "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo,
               sans-serif;
  font-size: 0.9rem;
  line-height: 1.7
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  text-align: center;
}


/*header*/
header {
  width: auto;
  height: 100vh;
  position: relative;
  background-image: url('../image/mainvisual.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainvisual {
  width: 100%;
}

.header-logo {
  max-width: 460px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  position: absolute;
  top: 20px;
  right: 40px;
}

.nav-list{
  display: flex;
  gap: 30px;
}

.nav a {
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 2px rgba(18, 18, 18, 0.84);
}

.nav a:hover {
  color: #e03131;
}


/*背景画像固定＆*/
.bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.header-space {
  height: 20px;
  background-color: #fff;
}


/*MENUセクション*/
.sec-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.sec-title {
  font-size: 4.5rem;
  color: #fff;
}

.bg-color {
  background-color: #fff;
  padding-bottom: 170px;
}

.menu__inner {
  display: flex; 
  justify-content: center;
  padding-top: 90px;
}

.menu__columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 45px;
}

.menu__columns:first-of-type {
  border-right: 1px solid #000;
}

.menu__column {
  width: 100%;
  text-align: center;
}

.menu__column--food dl:first-of-type{
  margin-bottom: 55px;
}

.menu__title {
  font-size: 2.5rem;
  border-bottom: 6px solid #E03131;
  display: inline-block;
  margin: 0 auto 70px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__name {
  width: 87%;
  border-bottom: 1px dotted #000;
  margin-bottom: 25px;
  text-align: left;
}

.menu__price {
  padding-top: 10px;
  width: 13%;
  text-align: right;
}



@media (max-width: 768px) {
  
  
  /*セクションタイトルのうしろに画像*/
  .bg-fixed {
    display: none;
  }

  .sec {
    background-image: none;
  }

  .sec::before {
    content: "";
    display: block;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-image: attr(data-bg url); /* JSでセット推奨 */
  }
}
